@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "微软雅黑";
}
a {
    cursor: pointer;
}
html,
body {
    font-size: 62.5%;
}
@mixin pos($p:absolute) {
    position: $p;
}
.box {
    //网页主体内容开始
    .list {
        width: 100%;
        height: 100%;
        -webkit-flex-grow: 1;
        margin-bottom: 5rem;
        margin-top: 7.6rem;
        @include pos(relative);
        //      每天
        .official {
            width: 100%;
            @include pos(relative);
            padding-top: 1rem;
            .p {
                width: 99%;
                border-left: 2px solid #d53b2c;
                @include pos(relative);
                margin: 1rem 0;
                display: flex;
                -webkit-justify-content: space-between;
                a {
                    color: #353535;
                    font-size: 1.7rem;
                    @include pos(relative);
                    left: 1rem;
                }
            }
            ul {
                width: 100%;
                border-top: 1px solid #e2e2e3;
                @include pos(relative);
                li {
                    width: 100%;
                    border-bottom: 1px solid #e2e2e3;
                    height: 7rem;
                    @include pos(relative);
                    margin-bottom: 0.3rem;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        -webkit-justify-content: space-between;
                        @include pos(relative);
                        .official_left {
                            width: 70%;
                            height: 100%;
                            padding: 0 0 1rem 1rem;
                            @include pos(relative);
                            .official_span {
                                color: #99999a;
                                padding: .5rem 0;
                                @include pos(relative);
                                span{
                                    color: #D2D2D2;
                                    @include pos();
                                    left: 10rem;
                                }
                            }
                        }
                        .official_right {
                            width: 30%;
                            height: 100%;
                            @include pos(relative);
                            img {
                                width: 100%;
                                height: 100%;
                                @include pos(relative);
                            }
                        }
                    }
                }
            }
        }
        //每天结束
//      全球
.total {
            width: 100%;
            @include pos(relative);
            .p {
                width: 99%;
                border-left: 2px solid #d53b2c;
                @include pos(relative);
                margin: 1rem 0;
                a {
                    color: #353535;
                    font-size: 1.8rem;
                    @include pos(relative);
                    left: 1rem;
                }
            }
            ul {
                width: 100%;
                @include pos(relative);
                display: flex;
                -webkit-justify-content: space-between;
                flex-flow: wrap;
                li {
                    width: 32.5%;
                    float: left;
                    padding-bottom: 1rem;
                    img {
                        width: 100%;
                    }
                    p {
                        padding: 0.5rem;
                        color: #39393a;
                        font-size: 1.2rem;
                        span {
                            @include pos(relative);
                            color: #a5a5a5;
                            top: 0.2rem;
                        }
                    }
                }
            }
        }
//全球结束
    }
    //  网页主体内容结束

}